@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-image: url("/bg_snow.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 4rem;
  text-align: center;
}
.counter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}
.countdown-c {
  text-align: center;
}
.countdown-c span {
  font-size: 1.3rem;
}
